<div id="content" class="hello">
  <mat-card style="width: 100%">
    <mat-card-header>
      <mat-card-title>Observations</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-table [dataSource]="observations" class="mat-elevation-z8" multiTemplateDataRows>
        <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedObservationColumns">
          <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
          <mat-cell *matCellDef="let observation"> {{observation[column]}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedObservationColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedObservationColumns;"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="observations !== undefined && observations.length !== 0" style="width: 100%">
    <mat-card-header>
      <mat-card-title>Search URLs</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item> <a [href]="googleLink(observations[observations.length-1])" target="_blank"> {{googleLink(observations[observations.length-1])}}</a> </mat-list-item>
        <mat-list-item> <a [href]="gscholarLink(observations[observations.length-1])" target="_blank"> {{gscholarLink(observations[observations.length-1])}}</a> </mat-list-item>
        <mat-list-item> <a [href]="linkedinLink(observations[observations.length-1])" target="_blank"> {{linkedinLink(observations[observations.length-1])}}</a> </mat-list-item>
        <mat-list-item> <a [href]="researchgateLink(observations[observations.length-1])" target="_blank"> {{researchgateLink(observations[observations.length-1])}}</a> </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <app-urls *ngIf="profile" [profile]="profile" type="GScholar"></app-urls>
  <app-urls *ngIf="profile" [profile]="profile" type="LinkedIn"></app-urls>
  <app-urls *ngIf="profile" [profile]="profile" type="ResearchGate"></app-urls>
  <app-urls *ngIf="profile" [profile]="profile" type="Microsoft"></app-urls>
  <app-urls *ngIf="profile" [profile]="profile" type="Website"></app-urls>
  <app-urls *ngIf="profile" [profile]="profile" type="CV"></app-urls>
  <app-urls *ngIf="profile" [profile]="profile" type="Dissertation"></app-urls>
</div>
