<div id="content">
  <h2>Observations</h2>

  <mat-table [dataSource]="observations" class="mat-elevation-z8" multiTemplateDataRows>
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedObservationColumns">
      <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
      <mat-cell *matCellDef="let observation"> {{observation[column]}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="google_search">
      <mat-cell *matCellDef="let observation" [attr.colspan]="displayedObservationColumns.length">
        <a [href]="googleLink(observation)" target="_blank"> {{googleLink(observation)}}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="gscholar_search">
      <mat-cell *matCellDef="let observation" [attr.colspan]="displayedObservationColumns.length">
        <a [href]="gscholarLink(observation)" target="_blank"> {{gscholarLink(observation)}}</a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedObservationColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedObservationColumns;"></mat-row>
    <mat-row *matRowDef="let row; columns: displayedSearchURLColumns"></mat-row>
  </mat-table>

  <h2>Google Scholar URLs</h2>

  <mat-table [dataSource]="gscholarURLs" class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of ['id', 'url']">
      <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
      <mat-cell *matCellDef="let observation"> {{observation[column]}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="valid">
      <mat-header-cell *matHeaderCellDef> Valid </mat-header-cell>
      <mat-cell *matCellDef="let url">
        <mat-checkbox [(ngModel)]="url.valid"
                      (change)="updateValid(url.id, url.valid)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="['id', 'url', 'valid']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['id', 'url', 'valid'];"></mat-row>
  </mat-table>

  <div style="margin-top: 10px">
    <mat-form-field class="example-form-field">
      <mat-label>New GScholar URL</mat-label>
      <input matInput type="url" [(ngModel)]="newGScholarURL">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="addGScholarURL()">Submit</button>
  </div>
</div>
