mat-card {
  width: 100%;
}

table {
  width: 100%;
}

/* Column Widths */
.mat-column-index, .mat-column-valid {
  max-width: 64px;
}

.mat-column-votes, .mat-column-author-id, .mat-column-uploaded, .mat-column-filename {
  max-width: 128px;
}
