<mat-card>
  <mat-card-header>
    <mat-card-title>{{type}} URLs</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-table [dataSource]="urls" class="mat-elevation-z8">
      <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
        <mat-cell *matCellDef="let url"> <ng-template [ngIf]="url.index !== -1">{{url.index}} </ng-template> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="url">
        <mat-header-cell *matHeaderCellDef> URL </mat-header-cell>
        <mat-cell>URL</mat-cell>
        <mat-cell *matCellDef="let url">
          <div *ngIf="url.index !== -1; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock><a [href]="url.url" target="_blank">{{url.url}}</a></ng-template>
          <ng-template #elseBlock>{{url.url}}</ng-template>
        </mat-cell>


      </ng-container>

      <ng-container matColumnDef="votes">
        <mat-header-cell *matHeaderCellDef> Votes </mat-header-cell>
        <mat-cell *matCellDef="let url">
          {{url.down_votes}}
          <button mat-icon-button (click)="downvote(url)"><mat-icon>arrow_downward</mat-icon></button>
          <button mat-icon-button (click)="upvote(url)"><mat-icon>arrow_upward</mat-icon></button>
          {{url.up_votes}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="valid">
        <mat-header-cell *matHeaderCellDef> Valid </mat-header-cell>
        <mat-cell *matCellDef="let url">
          <ng-template [ngIf]="url.index !== -1">
            <mat-checkbox [(ngModel)]="url.valid"
                        (change)="updateValid(url)">
            </mat-checkbox>
          </ng-template>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="file">
        <mat-header-cell *matHeaderCellDef> File </mat-header-cell>
        <mat-cell *matCellDef="let url">
          <ng-template [ngIf]="url.index !== -1">
            <a [href]="url.file" target="_blank">{{url.file}}</a>
          </ng-template>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="['index', 'url', 'votes', 'valid', 'file']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['index', 'url', 'votes', 'valid', 'file'];"></mat-row>
    </mat-table>

    <div style="margin-top: 10px; display: flex; flex-direction: column; align-items: start">
      <mat-form-field style="min-width: 500px;">
        <mat-label>New {{type}} URL</mat-label>
        <input matInput type="url" [(ngModel)]="newURL">
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="addURL()">Submit</button>

      <mat-checkbox [(ngModel)]="this.noneFound"
                    (change)="updateNoneFound()"
                    style="padding-top: 1.25em">None Found</mat-checkbox>
    </div>

    <mat-card-actions>
      <button mat-button color="primary" [disabled]="prevNoneFound == null" (click)="go(prevNoneFound)">Prev Empty (Searched)</button>
      <button mat-button color="primary" [disabled]="prevNotNoneFound == null" (click)="go(prevNotNoneFound)">Prev Empty (Not Searched)</button>
      <button mat-button color="primary" [disabled]="nextNotNoneFound == null" (click)="go(nextNotNoneFound)">Next Empty (Not Searched)</button>
      <button mat-button color="primary" [disabled]="nextNoneFound == null" (click)="go(nextNoneFound)">Next Empty (Searched)</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
