<h2>{{type}} URLs</h2>

<mat-table [dataSource]="urls" class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of ['id', 'url']">
    <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
    <mat-cell *matCellDef="let url"> {{url[column]}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="votes">
    <mat-header-cell *matHeaderCellDef> Votes </mat-header-cell>
    <mat-cell *matCellDef="let url">
      <button mat-icon-button (click)="downvote(url)"><mat-icon>arrow_downward</mat-icon></button>
      {{url.up_votes - url.down_votes}}
      <button mat-icon-button (click)="upvote(url)"><mat-icon>arrow_upward</mat-icon></button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="valid">
    <mat-header-cell *matHeaderCellDef> Valid </mat-header-cell>
    <mat-cell *matCellDef="let url">
      <mat-checkbox [(ngModel)]="url.valid"
                    (change)="updateValid(url)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['id', 'url', 'votes', 'valid']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['id', 'url', 'votes', 'valid'];"></mat-row>
</mat-table>

<div style="margin-top: 10px">
  <mat-form-field class="example-form-field">
    <mat-label>New {{type}} URL</mat-label>
    <input matInput type="url" [(ngModel)]="newURL">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="addURL()">Submit</button>
</div>

<button mat-raised-button color="primary" [disabled]="prev == null" (click)="goPrev()">Prev Empty</button>
<button mat-raised-button color="primary" [disabled]="next == null" (click)="goNext()">Next Empty</button>
